MM_CLIENT_ID=
MM_API_SECRET=
MM_TEST=true
MM_WEBHOOK_SECRET=
# MM_BASE_URI=
WP_TITLE=MainMoney WordPress Example
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@example.test
PORT=8080
